<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EvoHotel.Properties.Settings.EvoHotelConnectionString"
            connectionString="Data Source=LAPTOP-SALMAARA\SALMALUVIRZA;Initial Catalog=EvoHotel;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EvoHotel.Properties.Settings.ProjekEvoHotelConnectionString"
            connectionString="Data Source=LAPTOP-SALMAARA\SALMALUVIRZA;Initial Catalog=ProjekEvoHotel;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>